<!DOCTYPE html>
<html>
<head>
	<title>Facebook</title>
	<link rel="stylesheet" href="./phishing.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	</head>
<body>

	<div class="title">
		<img id="img1" src="../../assets/images/facebook.png" /> Facebook Login
	</div>
	<br>
	<br>

	<div class="container">
		<form class="form" action="../solution/solution.html">
			<label>Email or Phone: </label><input class="form-control" placeholder="Email" type="mail" name="name" autofocus required>
			<br>
			<label>Password: </label><input class="form-control" placeholder="Password" required>
			<input type="checkbox" />keep me logged in
			<br>
			<br>
			<input class="form-control fb-btn btn-lg btn-primary" id="submit" type="submit" value="Sign In">
			<br>
			<br>
		</form>

		<!--<form class="form" action="../solution/solution.html">
			<label></label>First Name: </label><input class="form-control" autofocus required>
			<label>Last Name: </label><input class="form-control" required>
			<label>Email: </label><input class="form-control" required>
			<label>Password: </label><input class="form-control" required>
			<label>Address: </label><input class="form-control" required>
			<label>Phone Number: </label><input class="form-control" required>
			<br/>
			<input class="form-control btn btn-lg btn-primary" type="submit">
		</form>-->
	</div>
</body>
</html>
