<!DOCTYPE html>
<html>
<head>
	<title>Facebook</title>
	<script src="../../utils/experience.js"></script>
	<link rel="stylesheet" href="./phishing.css">
	<script src="phishing.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

	<div class="title">
		<img id="img1" src="../../assets/images/facebook.png" /> Facebook Login
	</div>
	<br>
	<br>

	<div class="container">
		<form class="form" action="../solution/solution.html">
			<input type="hidden" name="category" value="phishing">
			<input type="hidden" name="answer" value="wrong">
			<label>Email or Phone: </label><input class="form-control" placeholder="Email" type="mail" name="name" autofocus required>
			<br>
			<label>Password: </label><input class="form-control" placeholder="Password" required>
			<input type="checkbox" />keep me logged in
			<br>
			<br>
			<input class="form-control fb-btn btn-lg btn-primary" id="submit" type="submit" value="Sign In">
			<br>
			<br>
		</form>
	</div>
</body>
</html>
