.container-fluid {
    height: 100vh;
    padding: 0 !important;
}

.header-row {
    height: 15%;
}

.top-row {
    height: 65%;
}

.bottom-row {
    height: 20%;
}

.logo-image {
    padding: 10pt;
    height: auto;
    width: 100%;
    max-height: 100pt;
}

.bubble {
    position: relative;
    margin: 20pt;
    padding: 15pt;
    border-radius: 15pt;
    border-color: teal;
    border-width: 2pt;
    background-color: whitesmoke;
    font-family: verdana;
}

.bubble:after {
	content: '';
	position: absolute;
	bottom: -20pt;
	left: 50%;
	width: 0;
	height: 0;
	border: 40pt solid transparent;
	border-top-color:whitesmoke;
	border-bottom: 0;
	border-right: 0;
	margin-left: 80pt;
	margin-bottom: -18pt;
}

.bubble-heading {
    font-size: 14pt;
    font-weight: bold;
}

.bubble-description {
    font-size: 12pt;
    font-weight: normal;
}

.video-col {
    display: flex;
    align-items: flex-end;
}

.video-wrapper {
    height: 70pt;
    margin-right: 20pt;
    margin-left: 20pt;
    margin-bottom: 40pt;
    border-radius: 50%;
    background-color: #fbb03b;
}

.iokid-animation {
    position: relative;
    top: 75%;
    transform: translateY(-100%);
    width: 100%;
    min-height: 200pt;
}

.container-vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-game-button-container {
    width: 70%;
    height: 50%;
}

.mini-game-button {
    border-color: transparent;
    border-radius: 15pt;
    background-color: #3fa9f5;
    color: white;
    font-family: verdana;
    font-size: 16pt;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.container-solution {
    display: flex;
    align-items: center;
    height: 80pt;
    width: 100%;
    border-top-left-radius: 15pt;
    border-bottom-left-radius: 15pt;
    background-color: green;
    padding: 0;
    margin-top: 20pt;
}

.solution-div {
    width: 100%;
    text-align: right;
    padding-right: 20pt;
    color: white;
    font-family: verdana;
    font-size: 32pt;
    font-weight: lighter;
}
