<!DOCTYPE html>
<html>
	<head>
		<title>IoT</title>
		<script src="./solution.js"></script>
		<link rel="stylesheet" href="./solution.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>

		<div class="container-fluid">

			<!-- MARK: - Header -->

			<div class="row header-row">

				<div class="col-md-3">
					<img class="logo-image" id="logo" src="../../assets/logo/logo.svg"/>
				</div>

				<div class="col-md-9">

				</div>

			</div>

			<!-- MARK: - Top row-->

			<div class="row top-row">

				<!-- MARK: - Suggestion -->

				<div class="col-md-6">
					<div class="bubble">
						<div id="bubble-heading" class="bubble-heading">
								Phishing
						</div>
						<div id="bubble-description" class="bubble-description">
						</div>
					</div>

				</div>

				<!-- MARK: - Task solution-->

				<div class="col-md-6">

					<div class="container-solution" id="result_rect">
						<div class="solution-div" id="result_div">
							Correct!
						</div>
					</div>

				</div>

			</div>

			<!-- MARK: - Bottom row -->

			<div class="row bottom-row">

				<!-- MARK: - Mini game-->

				<div class="col-md-6 container-vertical-align">

					<button class="mini-game-button">
							Find out more
					</button>

				</div>

				<!-- MARK: - IoKid animation -->

				<div class="col-md-6 video-col">
					
					<div class="video-wrapper">
						<video class="iokid-animation" id="reactionVideo" autoplay loop>
							<source id="reactionVideoSource" src="" type="video/webm">
							Your browser does not support the video tag.
						</video>
					</div>

				</div>

			</div>

		</div>
		<br>


	</body>
</html>
