.container-fluid {
    height: 100vh;
}

.header-row {
    height: 15%;
}

.top-row {
    height: 65%;
}

.bottom-row {
    height: 20%;
}

.logo-image {
    padding: 10pt;
    height: auto;
    width: 100%;
    max-height: 100pt;
}

.bubble {
    position: relative;
    margin: 20pt;
    padding: 15pt;
    border-radius: 15pt;
    border-color: teal;
    border-width: 2pt;
    background-color: whitesmoke;
    font-family: verdana;
}

.bubble:after {
	content: '';
	position: absolute;
	bottom: -20pt;
	left: 50%;
	width: 0;
	height: 0;
	border: 40pt solid transparent;
	border-top-color:whitesmoke;
	border-bottom: 0;
	border-right: 0;
	margin-left: 80pt;
	margin-bottom: -18pt;
}

.bubble-heading {
    font-size: 14pt;
    font-weight: bold;
}

.bubble-description {
    font-size: 12pt;
    font-weight: normal;
}

.flex-rectangle {
    height: 25%;
    background: #702A1F;
    border-radius: 10px;
}
