<!DOCTYPE html>
<html>
<head>
	<title>Facebook</title>
	<link rel="stylesheet" href="./solution.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="title">
		IoKid comes to help!
	</div>
	<div class="container">
		<video width="960" height="540" autoplay>
			<source src="../../assets/animations/failure_large.webm" type="video/webm">
			Your browser does not support the video tag.
		</video>
	</div>
</body>
</html>