<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="./fb_fake_request.css">
		<script src="../../jquery-3.4.1.min.js"></script>
		<script src="./fb_fake_request.js"></script>
	</head>
	<body>
        <!-- Modal button -->
        <button id="modBtn" class="modal-btn"></button>
        
        <!-- Modal -->
        <div id="modal" class="modal">
        <!-- Modal Content -->
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 class="">Friend requests</h3>
                    <div class="close fa fa-close"></div>    
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                        <img style="-webkit-user-select: none;margin: auto; border-radius: 100%;" src="./pics/image.jpg" width="100">
                        <div class="fake_name_container">
                            <p class="fake_name">Alexis Brown</p>
                            <p>0 mutual friends</p>
                            <a href="#"><div class="fake_accept_button">Confirm</div></a>
                            <a href="#"><div class="fake_decline_button">Delete</div></a>
                        </div>
                    </div>
            </div>
        </div>
    </body>
</html>