<!-- Modal button -->
<button id="modBtn" class="fake_modal-btn"></button>

<!-- Modal -->
<div id="fake_modal" class="fake_modal">
    <!-- Modal Content -->
    <div class="fake_modal-content">
        <!-- Modal Header -->
        <div class="fake_modal-header">
            <h3 class="">Friend requests</h3>
            <div class="close fa fa-close"></div>
        </div>
        <!-- Modal Body -->
        <div class="fake_modal-body">
            <img class="fake_pic" style="-webkit-user-select: none;margin: auto; border-radius: 100%;" width="100">
            <div class="fake_name_container">
                <p class="fake_name">Alexis Brown</p>
                <p>0 mutual friends</p>
                <form class="input fake_request_input">
                    <input type="hidden" name="category" value="fb_fake_request">
                    <input type="hidden" name="answer" value="wrong">
                    <button id="fake_accept_button" class="fake_accept_button">Confirm</button>
                </form>
                <form class="input fake_request_input">
                    <input type="hidden" name="category" value="fb_fake_request">
                    <input type="hidden" name="answer" value="correct">
                    <button id="fake_decline_button" class="fake_decline_button">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>